{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "bracketSameLine": true,
    "tailwindFunctions": [
        "clsx",
        "tv"
    ]
}